In [1]:
import json as j

In [2]:
p='{"name":"AAA", "language":["English","Hindi","Kannada"]}'

In [9]:
p_d=j.loads(p)
print(p_d['language'][2])
print(p_d)
print(p_d['language'])
print(p_d["name"])

Kannada
{'name': 'AAA', 'language': ['English', 'Hindi', 'Kannada']}
['English', 'Hindi', 'Kannada']
AAA

### read a json file

In [11]:
with open('name.json') as f:
    data=j.load(f)
print(data)

{'name': 'BBB', 'language': ['English', 'Hindi', 'Marathi', 'Punjabi']}

In [12]:
with open('namet.txt') as f:
    data=j.load(f)
print(data)

{'name': 'BBB', 'language': ['English', 'Hindi', 'Marathi', 'Punjabi']}

In [17]:
with open('emp.json') as f:
    data=j.load(f)
for n in data:
    print(f'name: {n}')
    print(f'Phone Number {data[n]["number"]}')
    print(f'Address:{data[n]["address"]}')
    print("\n")

name: AAA
Phone Number +91 99999392
Address:11, 4th main sri avri enclave banashakari


name: BBB
Phone Number +91 123456789
Address:11, 4th main sri avri SHELTERS banashakari


name: CCC
Phone Number +91 9876543211
Address:11, 4th main HOSTEL banashakari


name: DDD
Phone Number +91 36746734373
Address:11, 4th main banashakari

In [23]:
for n in data:
        print(f'name: {n}')
        for l in data[n]["address"]:
            print(l,end=" ")
        print("\n")

name: AAA
1 1 ,   4 t h   m a i n   s r i   a v r i   e n c l a v e   b a n a s h a k a r i

name: BBB
1 1 ,   4 t h   m a i n   s r i   a v r i   S H E L T E R S   b a n a s h a k a r i

name: CCC
1 1 ,   4 t h   m a i n   H O S T E L   b a n a s h a k a r i

name: DDD
1 1 ,   4 t h   m a i n   b a n a s h a k a r i

# convert dictionary into json object

In [30]:
n_d={
    'name':'XX',
    'age':33,
    'married':False,
    'children':None
}
print(type(n_d))
n_j=j.dumps(n_d)
print(type(n_d))

<class 'dict'>
<class 'dict'>

## Write json data into a file

In [31]:
with open('namet.txt',"w") as f:
    j.dump(n_d,f)

In [32]:
with open('namej.json',"w") as f:
    j.dump(n_d,f)

In [33]:
with open('name3.json',"w") as f:
    j.dump(n_d,f,indent=4 )

In [38]:
n_d={"XXX":{
    'age':33,
    'married':False,
    'children':None
},
"AAA":{
    'age':23,
    'married':True,
    'children':None
},
"BBB":{
    'age':45,
    'married':True,
    'children':True
}}

In [40]:
with open('name4.json',"w") as f:
    j.dump(n_d,f,indent=4, sort_keys=True)

assume a json file that has a following data name age salary department (values is more than 5 ) display the highest salary lowest salary and average age

In [46]:
with open('salary.json') as f:
    data=j.load(f)
for n in data:
    print(f'name: {n}')
    print(f'Salary: {data[n]["salary"]}')
    
#     print(f'Address:{data[n]["address"]}')
#     print("\n")

name: AAA
Salary: 30000
name: BBB
Salary: 40000
name: CCC
Salary: 50000
name: DDD
Salary: 60000